{{>licenseInfo}}
import { IsString, IsNotEmpty, IsNumber, IsOptional, IsArray, IsBoolean, IsDate, IsEnum, IsInt, IsUUID, IsEmail, IsUrl, IsPhoneNumber, IsPositive, IsNegative, Min, Max, MinLength, MaxLength, Matches, ValidateNested } from 'class-validator';
import { ApiProperty, ApiPropertyOptional } from '@nestjs/swagger';
{{#models}}
{{#model}}
{{#tsImports}}
import { {{classname}} } from './{{filename}}';
{{/tsImports}}

{{#description}}
/**
 * {{{.}}}
 */
{{/description}}
{{#isEnum}}{{>models/modelEnum}}{{/isEnum}}{{^isEnum}}{{#isAlias}}{{>models/modelAlias}}{{/isAlias}}{{^isAlias}}{{#taggedUnions}}{{>models/modelTaggedUnion}}{{/taggedUnions}}{{^taggedUnions}}{{#oneOf}}{{#-first}}{{>models/modelOneOf}}{{/-first}}{{/oneOf}}{{^oneOf}}{{>models/modelGeneric}}{{/oneOf}}{{/taggedUnions}}{{/isAlias}}{{/isEnum}}
{{/model}}
{{/models}}
